{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "ignorePatterns": ["node_modules/"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-param-reassign": ["off", { "props": false }],
    "react/state-in-constructor": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "no-use-before-define": "off",
    "react/button-has-type": "off",
    "react/jsx-boolean-value": "off",
    "arrow-body-style": "off",
    "no-unused-vars": "off",
    "no-undef": "warn",
    "react/function-component-definition": [
      1,
      {
        "namedComponents": [
          "function-declaration",
          "function-expression",
          "arrow-function"
        ],
        "unnamedComponents": ["function-expression", "arrow-function"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  }
}

