@font-face {
  font-family: 'omni015';
  src: url('../assets/fonts/OmniOTF015.otf') format('opentype'),
    url('../assets/fonts/OmniTTF015.ttf') format('truetype');
}

@font-face {
  font-family: 'omni025';
  src: url('../assets/fonts/OmniOTF025.otf') format('opentype'),
    url('../assets/fonts/OmniTTF025.ttf') format('truetype');
}

@font-face {
  font-family: 'omni035';
  src: url('../assets/fonts/OmniOTF035.otf') format('opentype'),
    url('../assets/fonts/OmniTTF035.ttf') format('truetype');
}

@font-face {
  font-family: 'omni045';
  src: url('../assets/fonts/OmniOTF045.otf') format('opentype'),
    url('../assets/fonts/OmniTTF045.ttf') format('truetype');
}

@font-face {
  font-family: 'omni055';
  src: url('../assets/fonts/OmniOTF055.otf') format('opentype'),
    url('../assets/fonts/OmniTTF055.ttf') format('truetype');
}

* {
  font-family: 'omni035';
}
